:root {
    /* Global styles */
    --font: 'Ubuntu', sans-serif; 

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;

    --font-size-small: 14px;
    --font-size-large: 28px;

    --line-height-small: 16px;
    --line-height-footer: 20px;
    --line-height-footer-link: 17px;
    --line-height-medium: 24px;
    --line-height-large: 32px;

}

