@import "./variables/global.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import './variables/dark.css';
@import './variables/light.css';

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
p {
  margin: 0;
}



